<footer class="footer-wrapper">
  <div class="container"></div>
  <div class="footer-bottom bg_dark text-white align-items-center justify-content-center w-100">
    <div class="container">
      <div class="footer-nav">
        <nav class="nav justify-content-center">
          <a class="nav-link" routerLink="#">About Us</a>
          <a class="nav-link" routerLink="#">Corporate Information</a>
          <a class="nav-link" routerLink="#">Careers</a>
          <a class="nav-link" routerLink="#">Customer Service</a>
          <a class="nav-link" routerLink="#">Sitemap</a>
        </nav>
      </div>
      <p class="copyright-text">Copyright &copy; 2021 Fanatic Books. All rights reserved.</p>
    </div>
  </div>
</footer>
