@font-face {
    font-family: "Mostin";
    src: local("Mostin Medium"), local("Mostin-Medium"),
      url("../assets/font/Mostin-Medium.woff2") format("woff2"),
      url("../assets/font/Mostin-Medium.woff") format("woff"),
      url("../assets/font/Mostin-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }