<div class="side-nav">
  <p class="fiction-head-txt">Fiction</p>
  <ul class="list-group">
    <li class="list-group-item head-item head1-item">Shop by genres</li>
    <li class="list-group-item head-item">Action & Fun Reads</li>
    <li class="list-group-item"> <a routerLinkActive='active'>Graphic Novels & Comic Books</a></li>
    <li class="list-group-item"> <a routerLinkActive='active'>Historical Fiction</a></li>
    <li class="list-group-item"> <a routerLinkActive='active'>Teen Fiction</a></li>
    <li class="list-group-item">
      <hr class="dropdown-divider">
    </li>
    <li class="list-group-item head-item">Dark, Horror & Fantasy</li>
    <li class="list-group-item"> <a routerLinkActive='active'>Horror</a></li>
    <li class="list-group-item"> <a routerLinkActive='active'>Thrillers</a></li>
    <li class="list-group-item"> <a routerLinkActive='active' routerLink="/booklist">Mystery & Crime</a></li>
    <li class="list-group-item"><a routerLinkActive='active'>Folklore & Mythology</a></li>
    <li class="list-group-item"><a routerLinkActive='active'>Sci-Fi & Fantasy</a></li>
    <li class="list-group-item">
      <hr class="dropdown-divider">
    </li>
    <li class="list-group-item head-item">People & Nature</li>
    <li class="list-group-item"> <a routerLinkActive='active'>Nautical & Maritime Fiction</a></li>
    <li class="list-group-item"> <a routerLinkActive='active'>People & Cultures</a></li>
    <li class="list-group-item"> <a routerLinkActive='active'>Westerns</a></li>
    <li class="list-group-item"><a routerLinkActive='active'>Women's Fiction</a></li>
    <li class="list-group-item"><a routerLinkActive='active'>World Literature</a></li>
    <li class="list-group-item">
      <hr class="dropdown-divider">
    </li>
    <li class="list-group-item head-item">History & Criticism</li>
    <li class="list-group-item"> <a routerLinkActive='active'>African American Fiction</a></li>
    <li class="list-group-item"> <a routerLinkActive='active'>Christian Fiction</a></li>
    <li class="list-group-item"> <a routerLinkActive='active'>Mystery & Crime</a></li>
    <li class="list-group-item"><a routerLinkActive='active'>Historical Fiction</a></li>
    <li class="list-group-item"><a routerLinkActive='active'>War & Military Fiction</a></li>
    <li class="list-group-item">
      <hr class="dropdown-divider">
    </li>
    <li class="list-group-item head-item">Classics</li>
    <li class="list-group-item"> <a routerLinkActive='active'>Fiction & Literature Classics</a></li>
    <li class="list-group-item"> <a routerLinkActive='active'>Love & Romance</a></li>
  </ul>
</div>
